---
import type { GetStaticPaths } from 'astro';
import Layout from '../../layouts/Layout.astro';

// import { getCollection } from "astro:content";

//* se utiliza para generar los paths estáticos para cada pagina del plan
export const getStaticPaths = (() => {
  return [
    { params: { pricing: 'plan-flexible-4' } },
    { params: { pricing: 'plan-flexible-6' } },
    { params: { pricing: 'plan-flexible-8' } },
    { params: { pricing: 'plan-inmersion-total-10' } },
    { params: { pricing: 'plan-inmersion-total-12' } },
    { params: { pricing: 'plan-inmersion-total-16' } },
  ];
}) satisfies GetStaticPaths;

//aquí recuperamos el path actual de la pagina desde la url
const { pricing } = Astro.params;

// luego obtenemos los datos de las colecciones
const allPosts = await Astro.glob('../../pages/pricing/*.md');

// para recuperar el post que debemos mostrar en cada pagina
const pageInfo = allPosts.find(
  (post) => post.frontmatter.pageURL === `/pricing/${pricing}`,
);

// manejamos el error si no existe una pagina estática
if (!pageInfo) {
  return Astro.redirect('/404');
}

import { slide } from 'astro:transitions';
import Heading from '../../components/ui/Heading.astro';
import Schedule from '../../components/ui/Schedule';
---

<Layout>
  <section class='container mx-auto mt-6 flex max-w-7xl flex-col px-2 md:px-8'>
    <div
      transition:name='plan'
      transition:animate={slide({ duration: '0.4s' })}
    >
      <Heading
        text='Prueba el'
        textGradient={pageInfo.frontmatter.title}
        level={1}
      />

      <!-- <p class='dark:text-white'>{pageInfo.frontmatter.description}</p> -->

      {/* Contenido del Markdown (fuera del frontmatter) */}
      <div >
        <div class="prose dark:prose-invert mt-8 max-w-none text-mint-950 dark:text-white" set:html={pageInfo.compiledContent()} />
      </div>
 <Schedule client:visible>
  h
 </Schedule>
    </div>

  </section>
</Layout>
