@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;
  --color-blacktext: #171717;
  --color-mint-50: #eff6ff;
  --color-mint-100: #dbeafe;
  --color-mint-200: #bfdbfe;
  --color-mint-300: #93c5fd;
  --color-mint-400: #60a5fa;
  --color-mint-500: #3b82f6;
  --color-mint-600: #2563eb;
  --color-mint-700: #1d4ed8;
  --color-mint-800: #1e40af;
  --color-mint-900: #1e3a8a;
  --color-mint-950: #172554;

  --color-riptide-50: #f0f9ff;
  --color-riptide-100: #e0f4ff;
  --color-riptide-200: #c6e8fe;
  --color-riptide-300: #9ad7fd;
  --color-riptide-400: #60bcf9;
  --color-riptide-500: #269cf7;
  --color-riptide-600: #0881df;
  --color-riptide-700: #0667b4;
  --color-riptide-800: #075390;
  --color-riptide-900: #094676;
  --color-riptide-950: #042a49;

  --animate-rotate: rotate 10s linear infinite;

  --animate-rotate-border: border-rotate 3s linear infinite;
  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}
@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
/* Espaciado para párrafos en contenido markdown */
.prose p, h2{
  margin-bottom: 1.5rem;
}
.prose > h2 {
  font-size: 1.2em;
}
.prose > h2 {
  font-size: 1.8em;
}

::selection {
  @apply bg-mint-500 text-white;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
}
.dark * {
  scrollbar-color: #60a5fa #0e0e11;
  scrollbar-width: thin;
}
* {
  scrollbar-color: #60a5fa #0e0e11;
  scrollbar-width: thin;
  box-sizing: border-box;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(10);
  }

  100% {
    transform: rotate(-360deg) scale(10);
  }
}

a.inline-block.leading-5.pl-12 {
  @apply text-sm;
}
#toc-list a[href='#'] {
  @apply text-blacktext font-bold dark:text-white;
}
.markdown h2 {
  @apply text-blacktext mt-16 mb-10 text-3xl font-bold dark:text-white;
}
.markdown h3 {
  @apply text-blacktext mt-6 mb-4 text-2xl font-bold dark:text-white;
}
.markdown h4 {
  @apply text-blacktext mt-6 mb-4 text-xl font-bold dark:text-white;
}
.markdown h5 {
  @apply text-blacktext mt-6 mb-4 text-lg font-bold dark:text-white;
}
.markdown h6 {
  @apply text-blacktext mt-6 mb-4 text-base font-bold dark:text-white;
}

.markdown p {
  @apply font-montserrat text-blacktext mb-8 text-xl leading-8 tracking-normal text-pretty max-md:text-lg dark:text-gray-200;
}

.markdown a {
  @apply dark:text-riptide-300! text-mint-500! hover:text-riptide-400! text-xl font-semibold underline transition-all max-md:text-lg;
}

.markdown ol {
  @apply mb-8 list-decimal;
}
.markdown ul {
  @apply mb-8 list-disc;
}
.markdown ul,
.markdown ol {
  @apply text-blacktext pb-0 pl-4 text-xl max-md:text-lg dark:text-gray-200;
}

.markdown li {
  @apply text-blacktext py-1 text-xl max-md:text-lg dark:text-gray-200;
}

.markdown hr {
  @apply dark:text-mint-300/50 text-blacktext/30;
}

.markdown blockquote {
  @apply border-mint-500 text-blacktext dark:text-mint-200 bg-mint-50 dark:bg-mint-900/20 mb-8 border-l-4 py-4 pl-4 italic backdrop-blur-lg;
}

.markdown blockquote p {
  @apply mb-0;
}

.markdown strong {
  @apply font-bold;
}

.contains-task-list {
  @apply space-y-2;
}

.task-list-item {
  @apply flex items-center gap-4;
}

.task-list-item input[type='checkbox'] {
  @apply accent-mint-300 h-5 w-5;
}

.task-list-item input[type='checkbox']:checked + span {
  @apply text-mint-600 line-through;
}

.task-list-item span {
  @apply text-gray-800;
}

.expanded {
  @apply absolute top-full left-0 mt-4 flex! w-full flex-col! bg-linear-to-t from-white to-white/90 bg-clip-padding shadow-xl backdrop-blur backdrop-contrast-100 backdrop-saturate-100 backdrop-filter transition-all duration-700 dark:from-zinc-950 dark:to-zinc-950/80 dark:text-zinc-300;
}

.hamburger-icon {
  display: none;
}

.hamburger .bars-icon {
  display: block; /* Show 'bars' icon by default */
}

.hamburger.active .bars-icon {
  display: none; /* Hide 'bars' icon when .active is present */
}

.hamburger.active .xmark-icon {
  display: block; /* Show 'xmark' icon when .active is present */
}

/* Navigation bar styles */
.hamburger {
  cursor: pointer;
}

.nav-links {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}

.blur-circle::after {
  content: '';
  display: block;
  width: 400px;
  height: 400px;
  background: #60a5fa40;
  bottom: -400px;
  right: -300px;
  position: fixed;
  z-index: -1;
  border-radius: 50%;
  filter: blur(159px);
}

.blur-circle {
  background-color: rgba(96, 188, 249, 0.29);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100px;
  right: 100px;
  border-radius: 999px;
  filter: blur(150px);
  overflow: hidden;
  z-index: -1;
}

.dark .blur-circle::after {
  content: '';
  display: block;
  width: 500px;
  height: 500px;
  background: #93c5fd25 !important;
  bottom: -150px;
  right: -150px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  filter: blur(10px);
}
