---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import Social from "../ui/Social.astro";

const [staticData] = await getCollection("staticData");

const { youtubeIconName, instagramIconName, youtube, instagram } = staticData.data;
---

<footer class="flex flex-col items-center gap-4 dark:bg-slate-900 w-full h-40 py-4 px-1 md:px-20">
	<h3 class="text-2xl font-bold">Fernanda Solarte</h3>
	<p></p>
	<ul class="flex gap-2 items-center">
		<li>
			<Social iconName={youtubeIconName} link={youtube} />
		</li>
		<li>
			<Social iconName={instagramIconName} link={instagram} />
		</li>
	</ul>
</footer>
