---
import CardPricing from '../ui/CardPricing.astro';
import { getCollection } from 'astro:content';
import Heading from '../ui/Heading.astro';

const [staticData] = await getCollection('staticData');

const {
  pricingPlanOneSubtitle,
  pricingPlanOneTitle,
  pricingPlanTwoTitle,
  pricingPlanTwoSubtitle,
} = staticData.data;

const allPosts = await Astro.glob('../../pages/pricingCollections/*.md');
---

<dir
  class='mx-auto flex w-full max-w-7xl flex-col gap-20 px-4 py-24 text-center max-sm:py-12 sm:px-8 xl:px-0'
>
  <div class='flex flex-col gap-2'>
    <Heading level={2} textGradient={pricingPlanOneTitle} />
    <p class='text-md text-mint-950/80 dark:text-mint-50/80 md:text-xl'>
      {pricingPlanOneSubtitle}
    </p>
  </div>

  <section
    class='mx-auto grid max-w-7xl grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3'
  >
    {
      allPosts
        .filter((post) => post.frontmatter.plan === 1)
        .map((post) => {
          return <CardPricing {...post.frontmatter} />;
        })
    }
  </section>
</dir>
<dir
  class='mx-auto flex w-full max-w-7xl flex-col gap-20 px-4 py-24 text-center max-sm:py-12 sm:px-8 xl:px-0'
>
  <div class='flex flex-col gap-2'>
    <Heading level={2} textGradient={pricingPlanTwoTitle} />
    <p class='text-md text-mint-950/80 dark:text-mint-50/80 md:text-xl'>
      {pricingPlanTwoSubtitle}
    </p>
  </div>
  <section
    class='mx-auto grid max-w-7xl grid-cols-1 gap-8 px-4 py-8 sm:px-8 md:grid-cols-2 lg:grid-cols-3 xl:px-0'
  >
    {
      allPosts
        .filter((post) => post.frontmatter.plan === 2)
        .map((post) => {
          return <CardPricing {...post.frontmatter} />;
        })
    }
  </section>
</dir>
